[Desktop Entry]
Version=1.0
Type=Application
Name=Grapejuice
Comment=Manage Roblox
Icon=grapejuice
Exec=/home/nic/.local/bin/grapejuice-gui
Categories=Development;
StartupWMClass=Grapejuice
