[Desktop Entry]
Name=World of Guns: Gun Disassembly
Comment=Play this game on Steam
Exec=steam steam://rungameid/262410
Icon=steam_icon_262410
Terminal=false
Type=Application
Categories=Game;
